extends ../../common/base.jade
block tituloEncabezado BuscarCurso
block migadepan1 Administracion
block migadepain2 Cursos
block titulo1 Curso
block titulo2 Listar Cursos
block contenido 
	div
	table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
	thead
		tr
		th Curso
		th Nombre
		th Intensidad
		th
	tbody
		tr.odd.gradeX
		td 
		td 
		td 
		td.center
			a.edit(href="/cursos/editar", data-toggle='tooltip', title='Editar Registro')
			i.fa.fa-edit(style='font-size: 24px; color: #337ab7;')
			a.delete(href="/cursos/eliminarfrom", data-toggle='tooltip', title='Eliminar Registro')
			i.fa.fa-remove(style='font-size: 24px; color: red')
	a(href="/clientes/nuevo", data-toggle='tooltip', title='Adicionar Registro')
	i.fa.fa-plus(style='font-size: 48px; color: #337ab7;')
