#barranavegacionusuario
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown', href='#')
      i.fa.fa-user.fa-fw
      i.fa.fa-caret-down
    ul.dropdown-menu.dropdown-user
      li
        a(href='#')
          i.fa.fa-user.fa-fw
          |  Perfil de Usuario
      li
        a(href='#')
          i.fa.fa-gear.fa-fw
          |                     Configuracion
      li.divider
      li
        a(th:href='/')
          i.fa.fa-sign-out.fa-fw
          | Cerrar sesion
