#encabezado
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href="img/Uniempresarial.ico")
  title 
    block tituloEncabezado
  // Bootstrap Core CSS
  link(href="vendor/bootstrap/css/bootstrap.min.css", rel='stylesheet')
  // MetisMenu CSS
  link(href="vendor/metisMenu/metisMenu.min.css", rel='stylesheet')
  // Custom CSS
  link(href="estilos/sb-admin-2.css", rel='stylesheet')
  // Custom Fonts
  link(href="vendor/font-awesome/css/font-awesome.min.css", rel='stylesheet', type='text/css')
  // Morris Charts CSS
  link(href="vendor/morrisjs/morris.css", rel='stylesheet')
  // jQuery
  script(src="vendor/jquery/jquery.min.js")
  // Bootstrap Core JavaScript
  script(src="vendor/bootstrap/js/bootstrap.min.js")
  // Metis Menu Plugin JavaScript
  script(src="vendor/metisMenu/metisMenu.min.js")
  // Custom Theme JavaScript
  script(src="js/sb-admin-2.js")
  // Morris Charts JavaScript
  script(src="vendor/raphael/raphael.min.js'")
  script(src="vendor/morrisjs/morris.min.js")
  script(src="js/morris-data.js")
  // Custom Theme JavaScript
  script(src='js/sb-admin-2.js')
  script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js')
