doctype html
html(th:lang='es', xmlns:th='http://www.thymeleaf.org', xmlns='http://www.w3.org/1999/xhtml')
  head
    title 
       block tituloEncabezado
  body
    include encabezado.jade
    #wrapper
      include barranavegacion.jade
      #page-wrapper
        .row
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#') 
                block migadepain1
              li.breadcrumb-item.active(aria-current='page') 
              block migadepain2
          .col-lg-12
            h1.page-header 
              block titulo1
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading 
              block titulo2
              // /.panel-heading
              .panel-body
                block contenido
      //include footer.jade
